.header {
    position: fixed;
    width: 100%;
    background-color: #8a2b06;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    height: 6rem;
}

.linksStyle {
    padding: 5px;
    flex: none;
}

.main-image {
    width: 10rem;
    padding-right: 10px;
}